@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch');

.header{
    background-color: #D66436;
    top: 0;
    left: 0;
    height: 12vh;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 4em;
    font-family: 'Cabin Sketch', cursive;
}
