.footer{
    background-color: #d1d1d1;
    min-height: 15vh;
    text-align: center;
    color: white;
    border-top: 1px solid #D66436;
}

a {
  color: #66949C;
  text-decoration: none;
}

.description{
    padding-top: 10px;
    color: #D66436;
}

.inline-content{
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 0;
}

/*
#66949C
    #FFFEF8
    #5fce6a
*/
