.footer{
    background-color: #66949C;
    min-height: 25vh;
    text-align: center;
    color: white;
}

/*h6{
    color: #D66436;
}*/

a {
  color: #FFFEF8;
  text-decoration: none;
}

.description{
    padding-top: 10px;
}

.inline-content{
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 0;
}
